@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --blue-project: #274AE2;
  --pink-project: #f8dde0;
  --lavender-project: #f1e3f9;
  --light-blue: #D4EFFF;
  --mint-project: #e1ffe5;
  --beige-project: #f8f6f1;
  --font-inter: 'Inter', sans-serif;
  --font-space-mono: 'Space Mono', monospace;
  --font-aeonik: 'Aeonik', sans-serif;
  --font-space-mono-one: '"Space Mono"', monospace;
}

